name: Deploy Stack Deployment

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        
      - name: Configure SSH for remote Docker host
        env:
          SSH_CONFIG: |
            Host $REMOTE_DOCKER_HOST
                HostName $REMOTE_DOCKER_HOST
                User manager
                IdentityFile ~/.ssh/docker.key
          REMOTE_DOCKER_HOST: ${{ vars.REMOTE_DOCKER_HOST }}
          REMOTE_DOCKER_SSH_PORT: ${{ vars.REMOTE_DOCKER_SSH_PORT }}
          REMOTE_DOCKER_SSH_PUBLIC_KEY: ${{ vars.REMOTE_DOCKER_SSH_PUBLIC_KEY }}
          REMOTE_DOCKER_SSH_PRIVATE_KEY: ${{ secrets.REMOTE_DOCKER_SSH_PRIVATE_KEY }}
          SSH_KNOWN_HOSTS: "[$REMOTE_DOCKER_HOST]:$REMOTE_DOCKER_SSH_PORT $REMOTE_DOCKER_SSH_PUBLIC_KEY"
        run: |
          mkdir -m 0700 ~/.ssh
          echo "\${SSH_CONFIG}" | envsubst | envsubst > ~/.ssh/config
          echo "\${SSH_KNOWN_HOSTS}" | envsubst | envsubst > ~/.ssh/known_hosts
          echo "${REMOTE_DOCKER_SSH_PRIVATE_KEY}" | base64 -d > ~/.ssh/docker.key
          chmod 600 ~/.ssh/docker.key

      - name: Test connection to remote Docker host
        env:
          DOCKER_HOST: "ssh://${{ vars.REMOTE_DOCKER_HOST }}:${{ vars.REMOTE_DOCKER_SSH_PORT }}"
        run: docker version

      - name: Print stack configuration
        env:
          # Global variables
          DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
          STORAGE_PATH: ${{ vars.STORAGE_PATH }}
          MEDIA_PATH: ${{ vars.MEDIA_PATH }}
          ADMIN_EMAIL: ${{ secrets.ADMIN_EMAIL }}
          SUDO_PASSWORD: ${{ secrets.SUDO_PASSWORD }}
          DOCKER_HOST: "ssh://${{ vars.REMOTE_DOCKER_HOST }}:${{ vars.REMOTE_DOCKER_SSH_PORT }}"
          # Media variables
          PLEX_TOKEN: ${{ secrets.PLEX_TOKEN }}
          BAZARR_API_KEY: ${{ secrets.BAZARR_API_KEY }}
          RADARR_API_KEY: ${{ secrets.RADARR_API_KEY }}
          SONARR_API_KEY: ${{ secrets.SONARR_API_KEY }}
          JELLYSEERR_API_KEY: ${{ secrets.JELLYSEERR_API_KEY }}
          PROWLARR_API_KEY: ${{ secrets.PROWLARR_API_KEY }}
          JELLYFIN_API_KEY: ${{ secrets.JELLYFIN_API_KEY }}
        run: |
          yq ea '. as $item ireduce ({}; . *+ $item)' composes/* | envsubst

      - name: Deploy stack to remote Docker host
        env:
          # Global variables
          DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
          STORAGE_PATH: ${{ vars.STORAGE_PATH }}
          MEDIA_PATH: ${{ vars.MEDIA_PATH }}
          ADMIN_EMAIL: ${{ secrets.ADMIN_EMAIL }}
          SUDO_PASSWORD: ${{ secrets.SUDO_PASSWORD }}
          DOCKER_HOST: "ssh://${{ vars.REMOTE_DOCKER_HOST }}:${{ vars.REMOTE_DOCKER_SSH_PORT }}"
          # Media variables
          PLEX_TOKEN: ${{ secrets.PLEX_TOKEN }}
          BAZARR_API_KEY: ${{ secrets.BAZARR_API_KEY }}
          RADARR_API_KEY: ${{ secrets.RADARR_API_KEY }}
          SONARR_API_KEY: ${{ secrets.SONARR_API_KEY }}
          JELLYSEERR_API_KEY: ${{ secrets.JELLYSEERR_API_KEY }}
          PROWLARR_API_KEY: ${{ secrets.PROWLARR_API_KEY }}
          JELLYFIN_API_KEY: ${{ secrets.JELLYFIN_API_KEY }}
        run: |
          yq ea '. as $item ireduce ({}; . *+ $item)' composes/* | envsubst | docker stack deploy --compose-file - media
